.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

button {
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  color: #ffffff;
}
button:hover {
  border-color: rgb(108, 108, 250);
  color: rgb(108, 108, 250);
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 400px;
  border-radius: 50px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  opacity: 0;
  transition: 1s;
}
.modal.show {
  opacity: 1;
  transition: 1s;
}

